@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  font-family: "roboto", sans-serif;
}

/* BODY */
body {
  background: rgb(14, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}

/* HEADER  */

.navbar {
  background: rgb(14, 166, 166);
  background: linear-gradient(
    180deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}
.nav__lista {
  justify-content: flex-end;
  color: rgb(228, 225, 225);
}

.nav__enlace {
  font-weight: bolder !important;
  color: white !important;
}

.nav__logo {
  width: 80px;
}

.nav__logo:hover {
  transform: rotate(90deg);
}

.nav__lista__item:hover {
  background-color: #18a7a7;
}

.nav__enlace {
  color: inherit !important;
}

main {
  width: 100%;
  height: 95%;
  padding-bottom: 5.5rem;
}

/* MAIN INDEX */

.main_div-imagen1 {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  padding-top: 3%;
  margin-bottom: 6%;
}

.main_div-imagen1 img {
  width: 17%;
  animation-name: movimiento;
  animation-duration: 4s;
  animation-timing-function: ease;
}

.main_div-imagen1 img:hover {
  transform: scale(1.1, 1.1) rotate(5deg);
}

.main_div2 {
  display: flex;
  margin: auto;
}

.main_div-iframe {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main_div-iframe iframe {
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.main_div-parrafo {
  width: 100%;
  margin-right: 3%;
}

.main_div-parrafo p {
  font-size: large;
  color: antiquewhite;
  padding: 5%;
  height: 100%;
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  background: rgb(14, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}

/* MAIN INFO */

.info_main-titulo {
  color: rgba(12, 219, 219, 0.87);
  text-align: center;
  padding: 2%;
  margin-bottom: 2.3%;
  background: rgb(0, 3, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 36, 1) 0%,
    rgba(14, 166, 166, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}

.info_main_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1rf;
  grid-template-areas:
    "titulo1 titulo1 titulo1"
    "div1 div1 div1"
    "titulo2 titulo2 titulo2"
    "div2 div2 div2"
    "titulo3 titulo3 titulo3"
    "div3 div3 div3";
  grid-row-gap: 2em;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.info_main_container_titulo_1 {
  color: rgba(12, 219, 219, 0.87);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  grid-area: titulo1;
}

.info_main_container_div1 {
  text-align: center;
  height: 100%;
  padding: 1%;
  color: antiquewhite;
  background: rgb(14, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
  grid-area: div1;
  transition: all 0.5s linear;
}

.info_main_container_div1:hover {
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.info_main_container_titulo_2 {
  color: rgba(12, 219, 219, 0.87);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  grid-area: titulo2;
}

.info_main_container_div2 {
  text-align: center;
  height: 100%;
  padding: 1%;
  color: antiquewhite;
  background: rgb(14, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
  grid-area: div2;
  transition: all 0.5s linear;
}

.info_main_container_div2:hover {
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.info_main_container_titulo_3 {
  color: rgba(12, 219, 219, 0.87);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  grid-area: titulo3;
}

.info_main_container_div3 {
  text-align: center;
  height: 100%;
  padding: 1%;
  color: antiquewhite;
  background: rgb(14, 166, 166);
  background: linear-gradient(
    90deg,
    rgba(14, 166, 166, 1) 0%,
    rgba(5, 119, 119, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
  grid-area: div3;
  transition: all 0.5s linear;
}

.info_main_container_div3:hover {
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

/* MAIN GALERIA */

.galeria_main-titulo {
  color: rgba(12, 219, 219, 0.87);
  text-align: center;
  padding: 2%;
  margin-bottom: 2.3%;
  background: rgb(0, 3, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 36, 1) 0%,
    rgba(14, 166, 166, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}

.galeria_main_imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 70%;
  margin-left: 18%;
}

.galeria_main_imagenes img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  transition: all 0.5s linear;
}
.galeria_main_imagenes img:hover {
  transform: scale(1.1, 1.1) rotate(5deg);
}

/* MAIN UBICACION */

.ubicacion_main_titulo {
  color: rgba(12, 219, 219, 0.87);
  text-align: center;
  padding: 2%;
  margin-bottom: 2.3%;
  background: rgb(0, 3, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 36, 1) 0%,
    rgba(14, 166, 166, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}

.ubicacion_main_lista li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  padding: 1%;
}

.ubicacion_main_iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

/* MAIN CONTACTO */

.contacto_main-titulo {
  color: rgba(12, 219, 219, 0.87);
  text-align: center;
  padding: 2%;
  margin-bottom: 2.3%;
  background: rgb(0, 3, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 36, 1) 0%,
    rgba(14, 166, 166, 1) 70%,
    rgba(16, 159, 159, 1) 100%
  );
}
.div__form{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-content: center !important;
}

/* MAIN JAZZ */
.jazz__body{
  background: black !important;
}
.section__carousel {
  padding: 0 !important;
}

/* FOOTER BOTSTRAP */
.container__footer {
  min-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.enlaces__redes img {
  width: 2rem;
}

/*RESPONSIVE*/

@media screen and (max-width: 1175px) {
  /* MAIN INDEX RESPONSIVE */
  .main_div-iframe {
    padding-bottom: 2em;
    padding-right: 0.5em;
  }
  /* MAIN INFO RESPONSIVE */
  .main_div2 {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .main_div2 {
    flex-direction: column;
    align-items: center;
  }

  /* MAIN INDEX RESPONSIVE */
  .main_div-iframe {
    padding-bottom: 2em;
  }
  .main_div-parrafo {
    margin: auto;
  }

  /* MAIN GALERIA RESPONSIVE */
  .galeria_main_imagenes {
    display: flex;
    flex-direction: column;
  }

  .galeria_main-titulo {
    width: 100%;
  }

  /* MAIN UBICACION RESPONSIVE */
  .ubicacion_main_titulo {
    width: 100%;
  }

  .ubicacion_main_iframe {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin-left: auto;
    align-items: center;
    padding: 5em 7em 5em 5em;
  }

  /* MAIN CONTACTO RESPONSIVE */
  .contacto_main-titulo {
    width: 100%;
  }

  /* MAIN JAZZ */
  .section__carousel {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 609px) {
  /* MAIN UBICACION RESPONSIVE */
  .ubicacion_main iframe {
    width: 30em;
    height: 30em;
  }
}
@media screen and (max-width: 490px) {
  .ubicacion_main iframe {
    width: 22em;
    height: 25em;
  }
}

/* ANIMACIONES */

@keyframes movimiento {
  0% {
    width: 80%;
  }
}
