/* FOOTER BOTSTRAP */
.container__footer {
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .div__punio__img {
    width: 100px;
    height: 100px;
  }
  
  .enlaces__redes img {
    width: 2rem;
  }
  
  
  