/* HEADER  */

.navbar {
background-color:map-get($colores, color-nav) !important;

  .nav__logo {
    width: 80px;
    &:hover {
      transform: rotate(90deg);
    }
  }

  .nav__lista {
    justify-content: flex-end;
    color: map-get($colores, color-letramenu);
    a {
      font-weight: bolder !important;
      color: inherit !important; 
      &:hover {
        background-color: map-get($colores, color-hover);
      }
    }
  }
}