/* MAIN DE TODAS LA SECCIONES */
main {
  width: 100%;
  height: 95%;
  padding-bottom: 3rem;
}

/* MAIN INDEX */

.main_div-imagen1 {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: center;
  padding-top: 2%;
  margin-bottom: 2%;

  img {
    width: 20%;
    animation-name: movimiento;
    animation-duration: 2s;
    animation-timing-function: ease;
    &:hover {
      transform: scale(1.1, 1.1) rotate(5deg);
    }
  }
}

.main_div2 {
  display: flex;
  margin: auto;
  
  .main_div-iframe {
    @extend %flex;
    width: 100%;

    iframe {
      box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
    }
  }

  .main__div-parrafo {
    width: 100%;
    margin-right: 3%;
    padding: 1%;
    font-size: medium;
    color: map-get($colores, color-letraparrafo);
    box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
    background-color: map-get($colores, color-fondoparrafo);
    height: 20rem;
    overflow: hidden scroll;
  }
}

/* MAIN INFO */

.info_main-titulo {
  background-color: map-get($colores, color-titulos);
  text-align: center;
  padding: 0.5%;
  margin-bottom: 2.3%;
  font-weight: bolder;
  background-color: map-get($colores , color-fondotitulos);
}

.info_main_container_titulo_1 {
  text-align: center;
  color: map-get($colores, color-titulos);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.info_main_container_div1 {
  text-align: start;
  height: 100%;
  margin-bottom: 0.5rem;
  padding: 1%;
  color:  map-get($colores, color-letraparrafo);
  background-color:  map-get($colores, color-fondoparrafo);
  transition: all 0.5s linear;

  &:hover {
    box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  }
}

.img__nevermind {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info_main_container_titulo_2 {
  text-align: center;
  color:  map-get($colores, color-letraparrafo);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.info_main_container_div2 {
  text-align: start;
  height: 100%;
  margin-bottom: 0.5rem;
  padding: 1%;
  color: map-get($colores, color-letraparrafo);
  background-color:  map-get($colores, color-fondoparrafo);
  transition: all 0.5s linear;

  &:hover {
    box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  }
}

.img__blackalbum {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info_main_container_titulo_3 {
  text-align: center;
  color:  map-get($colores, color-letraparrafo);
  box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
}

.info_main_container_div3 {
  text-align: start;
  height: 100%;
  padding: 1%;
  color: map-get($colores, color-letraparrafo);
  background-color:  map-get($colores, color-fondoparrafo);
  transition: all 0.5s linear;

  &:hover {
    box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
  }
}

.img__audioslave {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MAIN GALERIA */

.galeria_main-titulo {
  background-color: map-get($colores, color-titulos);
  font-weight: bolder;
  background-color: map-get($colores , color-fondotitulos);
  text-align: center;
  padding: 0.5%;
  margin-bottom: 2.3%;
  
}

.galeria_main_imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 67%;
  margin:auto;

  img {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 6px 3px rgb(54, 53, 53);
    transition: all 0.5s linear;

    &:hover {
      transform: scale(1.1, 1.1) rotate(5deg);
    }
  }
}

/* MAIN CLASICOS-HEAVY-JAZZ-MEDITACION-POP-ROCK */

.section__carousel {
    padding: 0 !important;
    width: 100%;
    img {
      max-height: 80vh;
      object-fit: contain;
    }
  }

  .h1portadas {
    color: white;
    font-weight: bolder;
    text-align: center;
  }
  


/* MAIN UBICACION */

.ubicacion_main_titulo {
  background-color: map-get($colores, color-titulos);
  font-weight: bolder;
  background-color: map-get($colores , color-fondotitulos);
  text-align: center;
  padding: 0.5%;
  margin-bottom: 2.3%;
}

.ubicacion_main_lista li {
  @include flex(flex, column, center);
  font-weight: bolder;
  padding: 0.5%;
  color: map-get($colores, color-letraparrafo);
  font-size: larger;
}

.ubicacion_main_iframe {
  @include flex(flex, column, center);
  
  iframe{
    height: 300px;
  }
}

/* MAIN CONTACTO */

.contacto_main-titulo {
  background-color: map-get($colores, color-titulos);
  font-weight: bolder;
  background-color: map-get($colores , color-fondotitulos);
  text-align: center;
  padding: 0.5%;
  margin-bottom: 2.3%;
}

.div__form {
  @include flex(flex, column, center,);
  min-height: 50vh;
  color: map-get($colores, color-letramenu);
}


