/*RESPONSIVE*/

@media screen and (max-width: 1175px) {
    /* MAIN INDEX RESPONSIVE */
    .main_div-iframe {
      padding-bottom: 2em;
      padding-right: 0.5em;
    }
    /* MAIN INFO RESPONSIVE */
    .main_div2 {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    /* MAIN INDEX RESPONSIVE */

    .main_div2 {
      flex-direction: column;
      align-items: center;
      
      .main_div-iframe {
        padding-bottom: 2em;
      }

      .main_div-parrafo {
        margin: auto;
      }
    }
    
    /* MAIN GALERIA RESPONSIVE */
    .galeria_main_imagenes {
      display: flex;
      flex-direction: column;
    }
  
    /* MAIN UBICACION RESPONSIVE */
    .ubicacion_main_titulo {
      margin-bottom: 2rem;
    }
  
    .ubicacion_main_iframe {
      display: flex;
      flex-direction: column;
      width: 94%;
      margin-left: auto;
      align-items: center;
      padding: 5em 7em 5em 5em;
    }
  
    /* MAIN CONTACTO RESPONSIVE */
    .contacto_main-titulo {
      margin-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 609px) {
    /* MAIN UBICACION RESPONSIVE */
    .ubicacion_main iframe {
      width: 30em;
      height: 30em;
    }
  }
  @media screen and (max-width: 490px) {
    .ubicacion_main iframe {
      width: 22rem;
      height: 25rem;
    }
  }