
/* MAPAS */
$colores: (
    color-fondo:#e4e1e1, 
    color-nav: #3A3845,
    color-letramenu: #e4e1e1,
    color-letraparrafo: black,
    color-fondoparrafo: #d4d2d2,
    color-fondotitulos:#cdcbcb,
    color-titulos:black,
    color-hover: #4e4d58,
);

/* MIXIN */

@mixin flex ($display, $flex-direction, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
}

/* EXTEND */

%flex {
    display: flex;
    justify-content: center;
    }